body {
    background-color: #d040f0
}

.textButton {
    margin-bottom: 5px;
    background-color: #40f040;
    padding: 2px;
}

.row {
    display: flex;
    justify-content: center;
}

/* Menu Bar */
#menuTable {
    width: 100%;
    background-color: #f080f0;
}

#menuOptionsCell {
    text-align: right;
}

/* Introduction */
#introDiv {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding-bottom: 15px;
    text-align: center;
    background-color: rgba(150, 150, 50, 0.9);
    z-index: 5;
}

#introDiv p {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 6px;
}

/* Stage */
#stageHost {
    border: 2px solid black;
}

/* Information Div */
#infoTable {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid black;
    background-color: #e070e0;
}

#soundCell {
    width: 64px;
    border: 2px solid black;
}

#pointsCell {
    border: 2px solid black;
    text-align: right;
}

#pointsPara {
    margin-right: 10px;
}